.nav-link {
    color: white !important;
}
.navbar-brand {
    color: white !important;
}
.navbar {
    background-color: red !important;
}
.row {
    background-color: black !important;
}
.col-md-4 {
    color: white !important;
}
.vertical-menu {
    
  }
  
  .vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #ccc;
  }
  
  .vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
  }
  h2 {
      color: white !important;
  }
  p {
      color: white !important;
  }
  #Footer {
    background-color: red !important;
    height: 100px !important;
  }
  #EndPage {
    margin: auto;
    color: white;
  }
  